
* {
    padding: 0;
    margin: 0;
}

body {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    font-family: "Century Gothic", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

p {
    padding: 10px;
}


.button2 {
    border: none;
    background: coral;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
}


form {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 30%;*/
}

p {
    padding: 10px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid;
    outline: none;
    border-radius: 5px;
}

button {
    border: none;
    background: coral;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 10px;
}

.error_message {
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px 0;
    color: red;
    text-align: center;
}

.errors {
    padding-top: 15px;
}

.error_message {
    padding: 10px;
}

.back{
    background: url("../img/andreas-city.jpg") no-repeat center/cover;
    /*!*width: 80%;*!height: 300px;*/
}

.logo img {
    width: 19%;
    margin-left: 10%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.enter img {
    width: 12%;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;
}

.button {
    padding: 10px;
    width: 54%;
}

.request {
    background: #fff;
    width: 30%;
    padding: 10px 10px 10px 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 35%;
}

.request h1 {
    margin-bottom: 10px;
}

footer {
    background: #000;
}

.content-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.text-1,
.text-2 p {
    color: white;
    font-size: 10px;
}

.form-registr form {
    display: flex;
    flex-direction: column;
    width: 23%;
    background: #fff;
    padding: 40px 40px 40px 40px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 35%;
}

.form-autorization form {
    display: flex;
    flex-direction: column;
    width: 23%;
    background: #fff;
    padding: 40px 40px 40px 40px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 35%;
}

.button-enter {
    margin-left: 2%;
}

.enter a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.logout-button a{
    background: coral;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: 100px;

}

.logout-button{
    padding-top: 10%;
    text-align: center;
}

.problem-1{
    text-align: center;
    background: #fff;
    width: 30%;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-top: 7%;
}

.road-img{
    width: 70%;
}

.problem-2{
    text-align: center;
    background: #fff;
    width: 30%;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    margin-top: 7%;
}

.dogs-img{
    width: 70%;
}

.problem-3{
    text-align: center;
    background: #fff;
    width: 30%;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    margin-top: 7%;
}

.house-img{
    width: 70%;
}

.solve-problem{
    display: flex;
    justify-content: space-around;
}


.request-style{
    background: #ffffff;
    width: 40%;
    padding: 20px 20px 50px 20px;
    border-radius: 10px;
    margin-top: 7%;
    margin-left: 30%;
    text-align: center;
}

.request-style-index{
    width: 40%;
    background: #fff;
    border-radius: 10px;
    padding: 40px 40px 40px 40px;
    margin-top: 7%;
    margin-right: 7%;
    text-align: center;
}

.request-index{
    display: flex;
    justify-content: space-between;
}

.request-img-size{
    width: 40%;
}

.request-img-size-index{
    width: 70%;
}

.delete_request_button a{
    margin-top: 4%;
}

.delete_request_button{
    border: none;
    background: coral;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 30px;
}

